<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="searchService" class="org.edu.sjsu.icd.webservices.SearchService">
		<property name="codeSearchService" ref="codeSearchService" />
	</bean>

	<bean id="accountService" class="org.edu.sjsu.icd.webservices.AccountServices">
		<property name="authenticationService" ref="authenticationService" />
	</bean>

	<bean id="prescriptionService" class="org.edu.sjsu.icd.webservices.PrescriptionService">
		<property name="prescriptionManagementService" ref="prescriptionManagementService"/>
	</bean>

	<bean id="codeSearchService" class="org.edu.sjsu.icd.service.CodeSearchService">
		<property name="diseaseDAO" ref="diseaseDAO" />
	</bean>

	<bean id="authenticationService" class="org.edu.sjsu.icd.service.AuthenticationService">
		<property name="registrationDAO" ref="registrationDAO" />
	</bean>

	<bean id="prescriptionManagementService" class="org.edu.sjsu.icd.service.PrescriptionManagementService">
		<property name="patientDAO" ref="patientDAO" />
		<property name="medBillDAO" ref="medBillDAO" />
		<property name="medRecordDAO" ref="medRecordDAO" />
	</bean>

	<bean id="diseaseDAO" class="org.edu.sjsu.icd.dao.impl.DiseaseDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="registrationDAO" class="org.edu.sjsu.icd.dao.impl.RegistrationDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="patientDAO" class="org.edu.sjsu.icd.dao.impl.PatientDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="medBillDAO" class="org.edu.sjsu.icd.dao.impl.MedBillDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="medRecordDAO" class="org.edu.sjsu.icd.dao.impl.MedRecordDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/ICD10" />
		<property name="username" value="root" />
		<property name="password" value="destiny" />
	</bean>
</beans>
